.container {
    max-width: 1000px;
    margin-top: 160px;
}

img {
    display: block;
}

#slider {
    position: relative;
    width: 700px;

}

#slider img {
    width: 100%;
    height: 100%;

    user-select: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    object-fit: cover;
}

#slider img:not(.active) {
    display: none;
}

#slider #arrows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 0;
    left: 65%;

    z-index: 2;

    width: 100%;
    height: 100%;

    padding: 12px;

    color: white;
    font-size: 1.5em;
    text-shadow: 1px 4px 3px black;
}


#title {


    padding: 10px;

    font-size: 20px;
    font-weight: 600;

    color: white;

}


#text {

    text-align: end;
    line-height: 1.2em;

    padding: 10px;

    color: white;


}

.text-container {
    text-align: end;
    margin-right: 10px;
    position: absolute;
    bottom: 2%;
    left: 10%;
    background-color: rgba(0, 0, 0, 0.424);
}

#thumbnail {
    width: calc(100% /5);

}

.thumbnail-container img {
    object-fit: contain;
    width: 100%;
}

#thumbnail .thumbnail-container:first-child img {
    border-top-right-radius: 20px;
}

#thumbnail .thumbnail-container:last-child img {
    border-bottom-right-radius: 20px;
}

#thumbnail img:not(.active) {
    filter: brightness(0.5);
}

#thumbnail img.thumb-img.thumb-active {
    filter: brightness(1);
}